#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Lidar
GenericName=AM5728 Lidar App
Icon=/usr/share/matrix-gui-2.0/apps/images/Lidar.png
Type=Application
Exec=lidar.sh
Categories=project
ProgramType=gui