#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Reboot AM5728
GenericName=AM5728 Reboot App
Icon=/usr/share/matrix-gui-2.0/apps/images/Rebirth.png
Type=Application
Exec=reboot.sh
Categories=project
ProgramType=gui
