#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Wi-Fi
GenericName=AM5728 Wi-Fi App
Icon=/usr/share/matrix-gui-2.0/apps/images/wireless-icon.png
Type=Application
Exec=wifi.sh
Categories=project
ProgramType=console