#!/usr/bin/env xdg-open
[Desktop Entry]
Name=AM5728 Audio
GenericName=AM5728 Audio App
Icon=/usr/share/matrix-gui-2.0/apps/images/speaker_icon.png
Type=Application
Exec=audio.sh
Categories=project
ProgramType=console
