#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Recognization
GenericName=AM5728 Recognization App
Icon=/usr/share/matrix-gui-2.0/apps/images/Recognization.png
Type=Application
Exec=recognization.sh
Categories=project
ProgramType=gui