###############################################################################
# Please modify this file if you want to configure your own application.
# You can uncommon and/or change the following Kconfig elements.
###############################################################################


if ROOTFS_COMPONENT_APPS_NAME_UART_TEST
	comment "No additional options for UART_TEST"

# 	config APPS_UART_TEST_OPTION0
#	bool "option0"
#	help
#	  Help text
endif
